In [77]:

# Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    #lesser_of_two_evens(2,4) --> 2
    #lesser_of_two_evens(2,5) --> 5
def lesser_of_two_evens(a,b):
    #Check the lesser of two given numbers if they re even,'
    #but returns the greater if one or both numbers are odd'
    
    if a % 2  == 0 and b % 2 == 0:
        if a < b:
            return a
        return b

    elif a % 2 == 1 or b % 2 == 1:
        if a < b:
            return b
        return a
    pass

In [78]:
 lesser_of_two_evens(2,4)

2

In [79]:
lesser_of_two_evens(2,5)

5

In [9]:
#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
def animal_crackers(text):
    if text[0] == text[12]:
        return True
    else:
        return False

    pass

In [7]:
animal_crackers('Levelheaded Llama')

True

In [8]:
animal_crackers('Crazy Kangaroo')

False

In [18]:
#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False
def makes_twenty(x, y):
    if x == y or abs(x-y) == 5 or (x+y) == 5:
        return True
    else:
        return False
    pass

In [19]:
makes_twenty(20,10)

False

In [20]:
makes_twenty(2,3)

True

In [21]:
#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
def count_primes(num):
    counter = 0
    for n in range(2,num+1):
        prime=True
        for i in range(2,n):
            if(n%i == 0):
                prime=False
                break
        if prime:
            counter += 1
    return counter
    pass

In [22]:
count_primes(100)

25

In [28]:
#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
##spy_game([1,2,4,0,0,7,5]) --> True
##spy_game([1,0,2,4,0,5,7]) --> True
##spy_game([1,7,2,0,4,5,0]) --> False
def spy_game(nums):
    flag = False
    flag_a = False
    for n in nums:
        if (n==0 and flag is True):
            flag_a = True
            continue
        elif (n==0):
            flag = True
            continue
        elif (n==7 and flag_a is True):
            return True
        
    return False
    pass

In [29]:
spy_game([1,2,4,0,0,7,5])

True

In [26]:
spy_game([1,0,2,4,0,5,7])

True

In [27]:
spy_game([1,7,2,0,4,5,0])

False

In [36]:
#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    #summer_69([1, 3, 5]) --> 9
    #summer_69([4, 5, 6, 7, 8, 9]) --> 9
    #summer_69([2, 1, 6, 9, 11]) --> 14
def summer_69(arr):
    while 6 in arr: # while 6 in array
        idx6 = arr.index(6)
        idx9 = arr.index(9)
        del arr[idx6:idx9+1] # delete part of array between index of 6 and index of 9
        print (arr) # [4, 5, 1, 1, 4, 3]
    return sum(arr)
    pass

In [37]:
summer_69([1, 3, 5])

9

In [34]:
summer_69([4, 5, 6, 7, 8, 9])

[4, 5]

9

In [35]:
summer_69([2, 1, 6, 9, 11])

[2, 1, 11]

14

In [42]:
#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
def blackjack(a,b,c):  
    total = a+b+c
    if total <= 21:     
        return total
    elif 11 in [a,b,c] and total > 21:   
        new_total = total-10     
        if new_total > 21:    
            return 'Bust' 
        else:         
            return new_total   
    else: 
        return 'Bust'
    pass

In [43]:
blackjack(5,6,7)

18

In [44]:
blackjack(9,9,9)

'Bust'

In [52]:
 blackjack(9,9,11)

19

In [63]:
# PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
def paper_doll(word):
     result=""
     for letter in word:
          result+=letter*3
     return result
     pass

In [59]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [60]:
paper_doll('Hello')

'HHHeeellllllooo'

In [64]:
#### FIND 33: Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.
def has_33(x):
    for i in range(len(x)-1):
        if x[i:i+2] == [3,3]:
            return True
    return False
    pass

In [65]:
has_33([1, 3, 3])

True

In [66]:
has_33([1, 3, 1, 3])

False

In [67]:
has_33([3, 1, 3])

False

In [69]:
#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
def old_macdonald(name):
    letters = list(name)
    for index in range(len(name)):
        if index == 0:
            letters[index] = letters[index].upper()
        elif index == 3:
            letters[index] = letters[index].upper()
    return "".join(letters)
    pass
old_macdonald('macdonald')

'MacDonald'

In [72]:
#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True
def almost_there(n):
    return 90 <= n <= 110 or 190 <= n <= 210
    pass

In [73]:
almost_there(104)

True

In [74]:
almost_there(209)

True

In [75]:
almost_there(150)

False

In [76]:
almost_there(90)

True